.idea
*.DS_Store
.htaccess
.ruby-version

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
*.sql
*.sql.gz

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private


# Ignore everything but the "sites" folder ( for non core developer )


# Cache and dev files
.sass-cache
sites/all/modules/reroute_email
sites/all/modules/stage_file_proxy

# Symlink to opeka source code should be configured locally
/sites/all/modules/opeka
