.node-type-blog,
.node-type-page {
    .breadcrumb {
      margin-bottom: .8em;
    }
    #main {
      margin-top: $u;
    }
    .generic-header-img {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    .generic-header-img-title {
      position: absolute;    
      height: 85%;
      text-align: center;
      width: 100%;
    }
    .generic-header-img-title:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .generic-header-img-title-wrapper {
      display: inline-block;
      max-width: 400px;   
      h1.page__title,
      h2.subtitle {
        background: #ffffff;
        box-shadow: 13px 0 0 0 #ffffff,-13px 0 0 0 #ffffff;
        display: inline-block;
        padding: $u*0.4 0;
        margin-bottom: $u*.2;
      }
      h2.subtitle {
        display: table;
        margin: 0 auto;
      }
    }
  
    .generic-header-img .field-type-image img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
}